Library
Logs
obj
Packages
Assets/Plugins
Assets/Textures
Assets/MixedRealityToolkit.Generated
Assets/MRTK
Assets/NuGet
Assets/XR
Assets/Packages
Assets/TextMesh Pro
ProjectSettings
UserSettings
*.meta
.vs
*.vsconfig
*.config
*.csproj
*.sln
*htm
Temp
